{% extends "base.html" %}

{% block content %}

<h3>Admin Dashboard</h3>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Type</th>
            <th>Description</th>
            <th>Risk</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for c in complaints %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
            <td>{{ c[5] }}</td>
            <td>
                <a href="/update/{{ c[0] }}/Investigating" class="btn btn-warning btn-sm">Investigate</a>
                <a href="/update/{{ c[0] }}/Closed" class="btn btn-success btn-sm">Close</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}