{% extends "base.html" %}

{% block content %}

<h3>Report Cybercrime</h3>

<form method="POST">
    <label>Type of Crime</label>
    <select name="type" class="form-control mb-3">
        <option>Phishing</option>
        <option>Online Fraud</option>
        <option>Harassment</option>
        <option>Hacking</option>
    </select>

    <label>Description</label>
    <textarea name="description" class="form-control mb-3" rows="4" required></textarea>

    <button class="btn btn-danger">Submit Complaint</button>
</form>

{% endblock %}